
/* new-header */
.new-header__inner {
    height: 48px;
    display: flex;
    flex-direction: row;
    transition: height 250ms ease;
    align-items: center;
}
/*.new-header__left*/
.new-header__left {
    min-width: 378px;
    max-width: 378px;
}
/*new-header__right*/
.new-header__right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    box-sizing: border-box;
}
/*new-header__mobile-flyout*/
.new-header__mobile-flyout {
    background: rgba(0, 0, 0, 0);
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    opacity: 1;
    transform: none;
    pointer-events: auto;
}
/*header-content-wrapper*/
.header-content-wrapper {
    background: #000;
    position: relative;
    z-index: 502;
}

/* Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(3,155,229,0.04);/* Azul claro */
    color: #333;
}

header {
    background: rgba(0,0,0,1);
    color: #fff;
    /* Ajuste a espessura da barra aqui */
    padding:0; /* Exemplo: 0.5rem */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13.5px;
}


header h1 {
    font-size: 1.5rem;
    margin: 0;
}

/* Navegação principal */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4fc3f7; /* Azul claro */
}

.nav-links a.active {
    font-weight: bold;
    border-bottom: 2px solid #4fc3f7; /* Azul claro */
}

.manage-collections-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1981CD;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    transition: background-color 0.3s;
    margin: 3px 20px; /* Remove margens para garantir centralização */
}

.manage-collections-button:hover {
    background-color: white;
    color: black;
}

/* Navegação móvel */
.mobile-nav-toggle {
    display: none; /* Oculta o botão por padrão */
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.mobile-nav-links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(59, 59, 59); /* Azul escuro */
    width: 100vw; /* Largura total da viewport */
    max-width: 300px; /* Largura máxima para o menu */
    z-index: 1000;
}

.mobile-nav-links.open {
    display: block; /* Mostra o menu quando a classe open é aplicada */
}

.mobile-nav-links a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.mobile-nav-links a:hover {
    background-color: #004c8c; /* Azul mais escuro para hover */
}


/* Estilo para o catálogo  */
.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1500px;
    margin: 0 auto;
    position: relative; /* Para o posicionamento do contêiner de mensagem */
}

.product-card {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-card img {
    width: 100%;
    height: 270px; /* Altura fixa */
    flex: 0 0 auto; /* Garante que as imagens não sejam redimensionadas */
}

.product-card h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    padding: 0 1rem;
    color: white; /* Azul escuro */
}

.product-card p {
    font-size: 1.25rem;
    color: rgb(218, 218, 218);
    margin: 0 0 1rem 0;
    padding: 0 1rem;
}

.buy-button {
    display: block;
    text-align: center;
    padding: 0.75rem;
    background: rgb(0, 170, 255); /* Azul médio */
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #43a047; /* Verde */
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Mensagem quando não há produtos */
.no-products-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    width: 100%; /* Largura total do contêiner */
    position: absolute; /* Posiciona o contêiner de mensagem em relação ao grid */
    top: 0;
    left: 0;
    z-index: 10; /* Certifique-se de que a mensagem está acima do grid */
}

.no-products-message {
    text-align: center;
    color: #666; /* Cor cinza para a mensagem */
    font-size: 1.25rem;
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Oculta a navegação principal em telas pequenas */
    }

    .mobile-nav-toggle {
        display: block; /* Mostra o botão de navegação móvel */
    }

    .product-card img {
        width: 100%;
        height: 350px; /* Altura fixa */
        object-fit:fill; /* Preenche a imagem */
    }

    .catalog {
        padding: 1rem; /* Ajusta o padding para telas menores */
    }

    .manage-collections-button {
        display: none;
    }
}

/* Estilo do contêiner de loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none; /* Escondido por padrão */
}

/* Estilo do spinner */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Nome */
.Nome {
    position: fixed;
    top: 24px;
    left: 38%;
    background-color: #fff;
    width: 314px !important;
    height: auto;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
    z-index: 2022;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .16);
}

/*bloco*/
element.style {
    width: 33%;
}
/*cor bloco*/
.cor-bloco{
    border-radius: 10px;
    background: #b51f29;
    box-shadow: 1px 3px 7px 1px rgba(51, 51, 51, .16);
}
/*letra bloco*/
.letra-boloco-selecionado{

    color:#fff
}
.letra-boloco{

    color: #000;
}
.Margem-letra{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/*Animacao*/
.wrapper {
    width: 314px !important;
    height: 48px;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

  @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nixie+One&family=Unbounded:wght@200&display=swap');
  .typing-demo {
    width: 12ch;
    animation: typing 2s steps(10), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "Unbounded", sans-serif;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
